@if (!isHidden()) {
  <a [routerLink]="'/institucional/sponsors'" class="sponsor-bar-link">
    <div class="sponsor-bar">
      <div class="sponsor-bar__carousel">
        <div
          class="sponsor-bar__logos"
          [style.--scroll-duration]="scrollDuration() + 's'"
        >
          @for (sponsor of displaySponsors(); track $index) {
            <img
              [src]="getImagen(sponsor)"
              [alt]="sponsor.alt"
              class="sponsor-bar__logo"
              loading="eager"
              decoding="async"
              [style.height.px]="getSponsorHeight(sponsor) / (isMobile() ? 2 : 1)"
              [style.transform]="sponsor.escala ? 'scale(' + sponsor.escala + ')' : null"
            />
          }
        </div>
      </div>
    </div>
  </a>
}