/* You can add global styles to this file, and also import other style files */

// Tipografía base según manual de marca AADIDESS
// body {
//   font-family: 'Rubik', sans-serif;
//   font-weight: 400; // peso regular, ajustable según necesidad
//   margin: 0;
//   padding: 0;
// }

// Temporal
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}